/* scroll snap takes care of restoring scroll position */
.swipe-container {
  display: flex;
  overflow: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}
/* scrollbar should be hidden */
.swipe-container::-webkit-scrollbar {
  display: none;
}
/* main element should always snap into view */
.swipe-element {
  scroll-snap-align: start;
}
/* actions and element should be 100% wide */
.action,
.swipe-element {
  min-width: 100%;
}
.action {
  display: flex;
  align-items: right;
}
/* icon should remain sticky */
svg {
  position: sticky;
  left: 16px;
  right: 16px;
}
/* action background colors */
.left {
  background-color: orchid;
}
.right {
  justify-content: flex-end;
  background-color: rgb(180, 65, 65);
}
.active {
  color: oklch(var(--p));
  background: oklch(var(--pc));
}
