/* scroll snap takes care of restoring scroll position */
.swipe_container {
  display: flex;
  overflow: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}
/* scrollbar should be hidden */
.swipe_container::-webkit-scrollbar {
  display: none;
}
/* main element should always snap into center view */
.swipe-element {
  min-width: 100%;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}
/* action buttons */
.action {
  width: 5rem;
  min-width: 5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
/* action background colors and snap points */
.left {
  scroll-snap-align: start;
  background-color: orchid;
}
.right {
  scroll-snap-align: end;
  background-color: rgb(180, 65, 65);
}
/* width of artist/title text */
.data {
  text-wrap: wrap;
  -webkit-line-clamp: 2;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0; /* To allow shrinking below content size */
  margin-right: 8px; /* For spacing between text and rating */
}
