/* scroll snap takes care of restoring scroll position */
.swipe_container {
  display: flex;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
/* scrollbar should be hidden */
.swipe_container::-webkit-scrollbar {
  display: none;
}
.swipe_container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* main element should always snap into start view and be exactly 100% of visible width */
.swipe-element {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  scroll-snap-align: start;
  white-space: normal;
}
/* action link containers */
.action_container {
  display: flex;
  flex-shrink: 0;
  color: white;
  text-decoration: none;
}
/* extra swipe distance room */
.overswipe_space {
  width: 100px;
  flex-shrink: 0;
}
/* action buttons (resting reveal area) */
.action_button {
  width: 5rem;
  min-width: 5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* action background colors and snap points */
.left {
  background-color: orchid;
}
.left .action_button {
  scroll-snap-align: start;
}
.right {
  background-color: rgb(180, 65, 65);
}
.right .action_button {
  scroll-snap-align: end;
}
/* width of artist/title text */
.data {
  white-space: normal;
  text-wrap: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0; /* To allow shrinking below content size */
  margin-right: 8px; /* For spacing between text and rating */
}
